<?xml version="1.0"?>
<configuration>

 
  <configSections>
  </configSections>
  <applicationSettings>
    <HTComm.Properties.Settings>
      <setting name="DataSource" serializeAs="String">
        <value>.\SQLEXPRESS</value>
      </setting>
    </HTComm.Properties.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"></supportedRuntime>
  </startup>

</configuration>
